jdit/metric/Cifar10_M.csv
jdit/metric/Cifar10_S.csv
mypackage/metric/Cifar10_M.csv
mypackage/metric/Cifar10_S.csv
.idea
datasets

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
